<style>


#myFakeElement { color:red ; }

html, body {
	background-color: #282828;
	color: white;
}

.container {
	width: 1170px;
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
}

#header {
	text-align: center;
	font-size: 18px;
}

#title {
	text-align: center;
	padding: 15px;
	padding-left: 100px;
	padding-right: 100px;
	margin: 15px;
}

#banner {
	background-color: #191f27;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	margin: 15px;
	width: 95%;
	padding: 15px;
}

#left_col {
	background-color: #191f27;
	float: left;
	width: 25%;
	margin-right: 15px;
	margin-left: 15px;
	padding: 15px;
	clear: both;
}

#slots {
	
	#margin-top: 30px;
	
}

#middle_col {
	background-color: #191f27;
	float: left;
	width: 65%;
	margin-right: 15px;
	margin-left: 15px;
	padding-bottom: 25px;
}

#buy-sell {
	text-align: center;
	margin: 15px;
}

#search-bar {
	text-align: center;
	margin: 15px;
}

#search-submit {
	padding: 6px;
	margin: 8px;
	font-size: 17px;
}

input[type=text] {
	padding: 6px;
	margin-top: 8px;
	font-size: 17px;
	border: none;
}

input[type=number] {
	width: 100px;
}

#buy-results {
	padding-left: 15px;
	padding-right: 15px;
	text-align: center;
	margin: auto;
}

#sell-results {
	padding-left: 15px;
	padding-right: 15px;
	text-align: center;
	margin: auto;
}

table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	background-color: #463e34;
	margin: auto;
	float: left;
}

#display-table {
	background-color: #191f27;
	#text-align: center;
}

td, th {
	text-align: center;
	padding: 2px;
}

th {
	text-align: center;
}

tr:nth-child(even) {
	background-color: #4f433b;
	
}

</style>